<!DOCTYPE html>
<html>
<head>
    <title> All Users</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link href="{{ url_for('static',filename='css/style.css') }}" type="text/css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script>
        if ( window.history.replaceState ) {
          window.history.replaceState( null, null, window.location.href );
        }
    </script>
</head>
<body >
    <header >
        <div class="container">
            <div class="row justify-content-center">
                <h1>
                    <div class="col-md-auto "></div>
                    <div class="col col-lg-10 ">
                        <h1>Super Users</h1>
                    </div>
                    <div class="col-md-auto "></div>
                </h1>
            </div>
        </div>
    </header>
    <script>
        if ( window.history.replaceState ) {
          window.history.replaceState( FormData, "", "/Home/{{ id }}" );
        }
    </script>
    <div><br></div>
    <div class="container">
    <div class="row">
        <form method="POST" action="/login" class="myform" >
            <div class="left-btn">
                <button class="align btn btn-outline-secondary " formaction="/Home/{{ id }}" type="submit">Home</button>
                <button class="align btn btn-outline-secondary " formaction="/Dashboard/{{ id }}" type="submit" >Dashboard</button>
                <button class="align btn btn-outline-secondary " formaction="/Work/{{ id }}" type="submit">Work</button>

            </div>
            <div class="right-btn">
                <div class="input-group input-group-prepend">
                    <button class="align2 btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ username }}</button>
                    <div class="dropdown-menu dropdown-menu-right align">
                        <a class="dropdown-item" href="/Account/{{ id }}">Account</a>
                        {% if key==1 %}
                        <a class="dropdown-item" href="/all_users/{{ id }}">All users</a>
                        <a class="dropdown-item" href="/superusers/{{ id }}">Super Users</a>
                        {% endif %}
                        <a class="dropdown-item" href="/update/{{ id }}">Update</a>
                        <a class="dropdown-item" href="#">Settings</a>
                        
                        <div role="separator" class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/Contact/">Contact</a>

                        <a class="dropdown-item" href="/logout">Logout</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
    </div>
    <p></p>
    <p></p>
    <p></p>
<div class="container">
        {% set count=0 %}

        {% for i in blob_data %}
        <div class="row new">
            {% for j in range(i|length) %}
                {% if i!=0 %}
                    <div class="col col-lg-1"></div>
                {% endif %}
                <div class="col col-lg-3 myform">
                        User ID       : {{ i[j].user_id }}<br>
                        Email         : {{ i[j].email }}<br>
                        Name          : {{ i[j].name }}<br>
                        Dob           : {{ i[j].dob }}<br>
                        Password      : {{ i[j].password }}<br>
                </div>
            {% set count=count+1 %}
            {% endfor %}
        </div>
        {% endfor %}
<div class="col col-lg-2"></div>
</div>
<div class="container" > 
    <div class="row"> <div class="col"><br></div> <div class="col"><br></div> <div class="col"><br></div> </div>
    <div class="row"> <div class="col"><br></div> <div class="col"><br></div> <div class="col"><br></div> </div>
</div>
<footer>
            <div class="container">
                <div class="row justify-content-center">
                        <div class="col-md-auto"></div>
                        <div class="col col-lg-5s align-center">
                            @copright reserved Manikanta-Puppala 2022
                        </div>
                        <div class="col-md-auto"></div>
                </div>
            </div>
        </footer>
</body>

</html>