<!DOCTYPE html>
<html>
<head>
    <title> Reset Password</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="{{ url_for('static',filename='css/style.css') }}" type="text/css" rel="stylesheet">

</head>
<body >
    <header >
        <div class="top-bar">
        <form action="/" method="POST">
            <div class="left-btn back" >
                <button class="align btn btn-outline-secondary " type="submit"> Go Back</button>
            </div>
        </form>
        <h1 class="h1-login">Reset your Password</h1>
        </div>       
    </header>
    <div><br><br></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-auto "></div>
            <div class="col col-lg-4 myform">
                <br>
                {% if key==0 %}
                <h6>Please enter your mail ID. We will send you the verification code to your registered mail ID.</h6>
                <form method="POST" action="/forgot_password/reset_link/" class="col-mid-4 myform" >
                    <label>Enter your mail Id</label><br>
                    <input type="email" class="form-control" id="exampleDropdownFormEmail2" placeholder="email@example.com" name="forgot_mail_id">
                    <br>
                    <input class="align6 btn btn-outline-secondary" type="submit" value="Send">
                    <div><br></div>
                </form>
                {% elif key==1 %}
                <h6>The mail has been sent to your email ID: {{ mail }}. Please check your mail and verify.
                </h6><br>
                <form method="POST" action="/forgot_password/verify" class="col-mid-4 myform" >
                    <label for="exampleDropdownFormEmail2">Enter the verification Code</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" name="verification_code" required>                    <br>
                    <br>
                    {% if msg==1 %}
                        The verification code that you have entered is wrong.
                    {% endif %}
                    <br>
                    <input class="align btn btn-outline-secondary" type="submit" value="Verify">

                    <div><br></div>
                </form>
                {% elif key==2 %}
                <br>
                <h6> Please reset your password by entering a new password</h6>
                <br>
                <form method="POST" action="/forgot_password/check_new_password">
                    <div class="form-group">
                        <label for="exampleInputPassword1">Enter a new Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password" required>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Confirm your Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Confirm Password" name="confirm_password" required>
                    </div>
                    {% if msg==1 %}
                    The password doesn't match.
                    {% endif %}
                    <br>
                    <input class="align btn btn-outline-secondary" type="submit" value="Submit">
                    <br>
                </form>
                {% endif %}
            </div>
            <div class="col-md-auto "></div>
          </div>
    </div>
    <div class="container justify-content-center" >
        <div class="row">
            <div class="col"></div>
            <div class="col col-md-auto">
<!--<img class="srp" src="/static/images/P.gif">-->            </div>
            <div class="col"></div>
        </div>
    </div>
    <footer>
        <div class="container">
            <div class="row foot justify-content-center">
                    <div class="col-md-auto"></div>
                    <div class="col col-lg-5 align-center">
                        @copright reserved Manikanta-Puppala 2022
                    </div>
                    <div class="col-md-auto"></div>
            </div>
        </div>
    </footer>
</body>

</html>